## Pandas
- Alta performace e fácil uso para trabalhar com dados
- Tem muitas coisas que lembram o Excel
- O DataFrame é usado em várias outras bibliotecas de Ciencias de Dados
- https://pandas.pydata.org/

- O pandas vai desde a importação da base, passando por toda a análise exploratória até a exibição de gráficos

In [57]:
import pandas as pd

In [58]:
#importar uma base em csv
base = pd.read_csv('servidores_2024.csv')

In [59]:
#visualizando as primeiras linhas
base.head(1000)

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0
...,...,...,...,...,...,...,...,...,...,...
995,JOSE HELIO PAIVA ...,SEPLAG,ANALISTA DE GESTAO PUBLICA ...,Aposentado,1579.14,0.00,1579.14,7635.86,6056.72,0.0
996,FRANCISCO DAS CHAGAS CARNEIRO DA COSTA ...,SEPLAG,ANALISTA DE GESTAO PUBLICA ...,Aposentado,167.12,0.00,167.12,4017.74,3850.62,0.0
997,MARIA TEREZINHA CHAGAS BEZERRA ...,SEPLAG,ANALISTA DE GESTAO PUBLICA ...,Aposentado,1682.68,0.00,1682.68,6278.85,4596.17,0.0
998,MARIA CELINA DUTRA GUEDES ...,SEPLAG,ANALISTA DE GESTAO PUBLICA ...,Aposentado,799.74,0.00,799.74,6511.40,5711.66,0.0
999,MARIA DE FATIMA MAIA ...,SEPLAG,AGENTE DE ADMINISTRACAO ...,Aposentado,484.26,0.00,484.26,1412.00,927.74,0.0

In [60]:
base.tail()

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
178881,MARIA APARECIDA MIRANDA OLIVEIRA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178882,DAVI SANTOS BANDEIRA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178883,FRANCISCA HELENA AMBROSIO DE MELO ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178884,JAIR MARCELINO FERREIRA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178885,JULIANA OLIVEIRA LEITAO ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
base02 = pd.read_csv('servidores_2024.csv')

In [62]:
base02.head()

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0

In [63]:
base02 = base.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

print(base02)

       NOME                                                                          \
0                            ANTONIO SERGIO BELTRAO MAFRA
1                          CARLOS EDUARDO GUIMARAES LOPES
2                               ANASTACIA DA SILVA SANTOS
3                          ANTONIO MARCONI LEMOS DA SILVA
4                                EMERSON CARVALHO DE LIMA
...                                                   ...
178881  MARIA APARECIDA MIRANDA OLIVEIRA              ...
178882  DAVI SANTOS BANDEIRA                          ...
178883  FRANCISCA HELENA AMBROSIO DE MELO             ...
178884  JAIR MARCELINO FERREIRA                       ...
178885  JULIANA OLIVEIRA LEITAO                       ...

        ORGAO                        CARGO                         SITUACAO  \
0         CGE  AUDITOR DE CONTROLE INTERNO                            Ativo
1         CGE  AUDITOR DE CONTROLE INTERNO                            Ativo
2         CGE  AUDITOR DE CONTROLE INTERNO                            Ativo
3         CGE  AUDITOR DE CONTROLE INTERNO                            Ativo
4         CGE  AUDITOR DE CONTROLE INTERNO                            Ativo
...       ...                          ...                              ...
178881    NaN                          NaN                              NaN
178882    NaN                          NaN                              NaN
178883    NaN                          NaN                              NaN
178884    NaN                          NaN                              NaN
178885    NaN                          NaN                              NaN

         SALARIO BASE   DESCONTO   SALARIO BRUTO   EMPRESTIMOS  \
0             2773.43       0.00         2773.43      11898.16
1            20301.61       0.00        20301.61      33601.65
2            10786.93       0.00        10786.93      28351.18
3            24345.75   10654.19        13691.56      50371.88
4            12982.89       0.00        12982.89      35614.30
...               ...        ...             ...           ...
178881            NaN        NaN             NaN           NaN
178882            NaN        NaN             NaN           NaN
178883            NaN        NaN             NaN           NaN
178884            NaN        NaN             NaN           NaN
178885            NaN        NaN             NaN           NaN

         SALARIO LIQUIDO   IR
0                9124.73     0.0
1               13300.04     0.0
2               17564.25     0.0
3               26026.13     0.0
4               22631.41     0.0
...                  ...     ...
178881               NaN     NaN
178882               NaN     NaN
178883               NaN     NaN
178884               NaN     NaN
178885               NaN     NaN

[178886 rows x 10 columns]

In [64]:
base02.head(200)

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0
...,...,...,...,...,...,...,...,...,...,...
195,ROBERIO PEREIRA DE OLIVEIRA,SSPDS,NaN,Ativo,1167.19,0.00,1167.19,5264.20,4097.01,0.0
196,ISRAEL ALVES DE SOUSA,SSPDS,NaN,Ativo,332.86,0.00,332.86,1866.67,1533.81,0.0
197,JARDEL GONCALVES DE SOUSA,SSPDS,NaN,Ativo,185.28,0.00,185.28,1400.00,1214.72,0.0
198,GLAYDSTON FERREIRA DA SILVA,SSPDS,NaN,Ativo,185.28,0.00,185.28,1400.00,1214.72,0.0
199,GEORGE MICHAEL BARBOZA DA SILVA,SSPDS,NaN,Ativo,346.42,0.00,346.42,1400.00,1053.58,0.0

In [65]:
base02.shape

(178886, 10)

In [66]:
display(base02.head(100000))

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0
...,...,...,...,...,...,...,...,...,...,...
99995,SEBASTIANA PAULINO DA SILVA,CBMCE,COZINHEIRO,Aposentado,115.65,0.00,115.65,1412.00,1296.35,0.0
99996,JOSE DOMINGOS ARAUJO FERREIRA,CBMCE,SUBTENENTE,Aposentado,4120.35,0.00,4120.35,7598.95,3478.60,0.0
99997,MARIA CELESTE DA SILVA VIANA,CBMCE,AGENTE DE ADMINISTRACAO,Aposentado,569.44,0.00,569.44,1433.10,863.66,0.0
99998,JOSE EPITACIO QUEIROZ,CBMCE,CAPITAO,Aposentado,8047.73,0.00,8047.73,12946.98,4899.25,0.0
99999,ANTONIO FERNANDO BATISTA LIMA,CBMCE,SUBTENENTE,Aposentado,3760.56,0.00,3760.56,7598.95,3838.39,0.0

In [67]:
cargos = base02[['CARGO', 'SALARIO BASE']]

print(base02)

KeyError: "None of [Index(['CARGO', 'SALARIO BASE'], dtype='object')] are in the [columns]"

In [68]:
print(base02.columns)

Index(['NOME                                                                        ',
       ' ORGAO', ' CARGO', '                        SITUACAO', ' SALARIO BASE',
       ' DESCONTO', ' SALARIO BRUTO', ' EMPRESTIMOS', ' SALARIO LIQUIDO',
       ' IR   '],
      dtype='object')

In [69]:
# Remover espaços extras e ajustar para maiúsculas/minúsculas
base02.columns = base02.columns.str.strip().str.upper()

In [70]:
print(base02.columns)

Index(['NOME', 'ORGAO', 'CARGO', 'SITUACAO', 'SALARIO BASE', 'DESCONTO',
       'SALARIO BRUTO', 'EMPRESTIMOS', 'SALARIO LIQUIDO', 'IR'],
      dtype='object')

In [76]:
display(base02.head(100000))

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0
...,...,...,...,...,...,...,...,...,...,...
99995,SEBASTIANA PAULINO DA SILVA,CBMCE,COZINHEIRO,Aposentado,115.65,0.00,115.65,1412.00,1296.35,0.0
99996,JOSE DOMINGOS ARAUJO FERREIRA,CBMCE,SUBTENENTE,Aposentado,4120.35,0.00,4120.35,7598.95,3478.60,0.0
99997,MARIA CELESTE DA SILVA VIANA,CBMCE,AGENTE DE ADMINISTRACAO,Aposentado,569.44,0.00,569.44,1433.10,863.66,0.0
99998,JOSE EPITACIO QUEIROZ,CBMCE,CAPITAO,Aposentado,8047.73,0.00,8047.73,12946.98,4899.25,0.0
99999,ANTONIO FERNANDO BATISTA LIMA,CBMCE,SUBTENENTE,Aposentado,3760.56,0.00,3760.56,7598.95,3838.39,0.0

In [81]:
# Filtrar por 'CARGO' e selecionar as colunas 'nome' e 'SALARIO BASE'
analistas = base02[base02['CARGO'] == 'ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO'][['NOME', 'CARGO', 'SALARIO BASE', 'ORGAO']].head(1000)

display(analistas)

,NOME,CARGO,SALARIO BASE,ORGAO
107238,EDMAR MENDES DA SILVA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6358.62,ETICE
107241,GUILHERME SOARES QUINDERE MOURA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5810.71,ETICE
107242,JULIO CESAR LIMA BATISTA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,10743.34,ETICE
107243,ADERSON BARROSO DE ALENCAR,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7719.12,ETICE
107244,LEVINDO JOSE GARCIA NETO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9938.60,ETICE
107246,LUCIA POMPEU DE VASCONCELOS CASTRO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7902.89,ETICE
107247,ROGERIO RIBEIRO SARAIVA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,13237.59,ETICE
107263,ARIANA FALCAO DA SILVA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7904.85,ETICE
107265,JOAO BOSCO ALVES DA SILVA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7630.14,ETICE
107266,LUCIA MARIA BESERRA VERAS,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9059.61,ETICE
107275,ANTONIO CARLOS LEITE SOARES,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6890.80,ETICE
107283,SERGIO VICENTE DE MATTOS BRITO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,10077.81,ETICE
107289,ANA LUCIA PEREIRA GOMES,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6077.58,ETICE
107290,REGINA ESTELA BENEVIDES DE LIMA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5499.76,ETICE
107291,VERA LUCIA CARNEIRO DE SOUSA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,8728.94,ETICE
107311,JOAO JOSE VASCO PEIXOTO FURTADO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,8422.85,ETICE
107312,SILVIA KATAOKA DE OLIVEIRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6468.48,ETICE
107313,IRAM CARVALHO DO NASCIMENTO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5944.00,ETICE
107316,FRANCISCO AUGUSTO ANDRADE MAIA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,10116.93,ETICE
107328,JORGE LUIZ LACERDA DA CRUZ,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7156.65,ETICE
107329,MIGUEL ABRAHAO NETO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,3930.94,ETICE
107332,ALBERTO SULLIVAN DE ARAUJO ESTRELA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,4660.75,ETICE
107333,EMILIA MARIA QUEZADO FERNANDES,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,3535.04,ETICE
107334,ALDA MARIA ARAUJO DE OLIVEIRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9597.43,ETICE
107335,EVELISE HELENA FACANHA BRAGA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9339.04,ETICE
107336,FRANCISCO HOILTON ARARIPE RIOS,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5452.99,ETICE
107337,RAIMUNDA NEUMAR PAULA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,4460.82,ETICE
107338,JOAO CARLOS WANDERLEY DE LIMA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6474.89,ETICE
107343,GABRIELLE DANNUNZIO CAVALCANTI MOREIRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,8524.66,ETICE
107345,RICARDSON RODRIGUES SAMPAIO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,4521.15,ETICE
107347,VERA MARIA MENDES OLIVEIRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,4786.39,ETICE
107349,JORGE ROMULO FROTA DOS SANTOS,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9357.35,ETICE
107350,FRANCISCO JOSE MAGALHAES DE PINHO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6496.22,ETICE
107351,PAULO ALCANTARA SARAIVA LEAO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,8177.23,ETICE
107352,ENIO AZEVEDO FONTENELE,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6225.77,ETICE
107354,JEAN CARLO LUZ BASTOS,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6387.70,ETICE
107355,MARTA MARIA MENEZES DE SOUZA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,9655.82,ETICE
107356,ROSSANA MARIA GUERRA LUDUENA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7012.01,ETICE
107357,SILVIANE TORRES DA COSTA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5396.53,ETICE
107377,LUIS EDUARDO DE MENEZES LIMA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6828.98,ETICE
107378,MARIA JEANE PEIXOTO SAMPAIO,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6868.83,ETICE
107379,CARLOS JORGE LIMA DE FREITAS,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,7646.73,ETICE
107380,FERNANDO CEZAR CIDRAO GUEDES,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,12185.08,ETICE
107381,JOSE THOME DA FROTA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,4760.14,ETICE
107390,JOAO ALCIDES DE OLIVEIRA GUERRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5150.67,ETICE
107392,DENISE MARIA NOROES OLSEN,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5133.45,ETICE
107393,PAULO HENRIQUE AGUIAR,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6514.98,ETICE
107394,RICARDO LEITE SOARES,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,6204.84,ETICE
107398,MAURO MENDES DE OLIVEIRA,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,5680.51,ETICE
107399,MARIA LUCIA RABELO DE ANDRADE,ANALISTA DE GESTAO DE TECNOLOGIA DA INFORMACAO,3448.90,ETICE